<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ESO Stats!</title>
</head>
<body>
    <h1>Welcome to my Elder Scrolls Online Page</h1>
    
    <p>Navigation:</p>
    <nav>
        <ul>
            <li><a href="/admin/">Admin Page</a></li>
            <li><a href="/upload-form/">Upload LUA-File</a></li>
            <li><a href="/accounts/">Accounts with Characters</a></li>
        </ul>
    </nav>
</body>
</html>
